.botaoDeletarSimTema {
    background-color:#FFE4C4 !important;
    color: ##363636 !important;
    font-weight: bold !important;
}

.botaoDeletarNaoTema {
    background-color:#FF4500 !important;
    color: #ffffff !important;
}