.caixa{
    background-color: #FFDAB9;
}

.titulo{
    color: #363636 !important;
    font-weight: bold !important;
}

.botao{
    border-color: #363636 !important;
    color: #00CED1 !important;
    font-weight: bold !important;
}

.postagens{
    background-color: #FFFAF0;
}

.text-decorator-none{
    text-decoration: none;
}