.backgroundColor{
    background-color: #D2691E;
}

.cursor{
    cursor: pointer;
    color: #ffffff;
}

.text-decorator-none{
    text-decoration: none;
}

.tituloBogPessoal{
    font-style: oblique;
    color: #363636;
    font-weight: bold;
}