.imagem2{
    background-image: url(https://i.imgur.com/cEx9xEO.png);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textosCadastro{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
    background-color:#FF4500 !important;
    color: #ffffff !important;
}

.botaoCadastrar {
    background-color:#FFE4C4 !important;
    color: #363636 !important;
    font-weight: bold !important;
}

.botaoCancelarCadastro {
    background-color:#FF4500 !important;
    color: #ffffff !important;
}